body {
    font-family: "Montserrat", sans-serif;
}
.navbar {
    background-color: rgb(41, 59, 85);
}

h1 {
    font-size: 2em;
    font-family: "Kufam", cursive;
}
.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 50px;
    width: 100%;
}
/* 
.header-image {
    height: 700px;
} */

#nav {
    display: grid;
    justify-items: center;
    margin-top: 2rem;
}

#description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    justify-items: center;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: black;
}

#links {
    display: grid;
    grid-template-rows: repeat(3, 50px);
}

hr {
    border-top: 3px double #8c8b8b;
    width: 90%;
}

@media screen and (max-width: 767px) {
    .header {
        display: block;
        margin: 0;
        padding: 0;
    }
    #links {
        order: 0;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }
    #header-image {
        border-radius: 0;
        margin: 0;
        height: auto;
    }
    #description {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    #split {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #nav {
        margin-top: 10rem;
    }
}
