/* #violin {
    color: lightskyblue;
    width: 80px;
}

#logo {
    font-family: 'Pacifico', cursive;
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
}

.info {
    margin: 20px;
}

#header {
    background-image: linear-gradient(to bottom, rgb(96, 124, 140), rgb(90, 116, 133), rgb(87, 113, 130), rgb(86, 110, 129), rgb(63, 84, 105), rgb(45, 63, 87), rgb(41, 59, 85), rgb(10, 16, 45));
} */

/* #header-image {
    background: linear-gradient(to right, transparent, rgb(99, 126, 143))
} */
.navbar {
    background-color: rgb(41, 59, 85);
}
html {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2em;
}
.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 50px;
    width: 100%;
}

#header-image {
    height: 700px;

    border-radius: 40%;
}

#nav {
    display: grid;
    justify-items: center;
}

#description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    justify-items: center;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: tomato;
}

#links {
    display: grid;
    grid-template-rows: repeat(3, 50px);
}

hr {
    border-top: 3px double #8c8b8b;
    width: 90%;
}

@media screen and (max-width: 767px) {
    .header {
        display: block;
        margin: 0;
        padding: 0;
    }
    #links {
        order: 0;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }
    #header-image {
        border-radius: 0;
        margin: 0;
        height: auto;
    }
    #description {
        width: 100%;
    }
}
